---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Bagde.astro";
import Linkedin from "../components/Icons/Linkedin.astro";
import GitHub from "../components/Icons/GitHub.astro";
import Email from "../components/Icons/Email.astro";
import SocialIcon from "../components/Icons/SocialIcon.astro";
import ExperienceIcon from "../components/Icons/ExperienceIcon.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ProjectIcon from "../components/Icons/ProjectIcon.astro";
---

<Layout
  title="Portafolio Brayan Mejia - Tecnólogo, Programador y Desarrollador de Aplicaciones Web"
>
  <main class="px-5">
    <SectionContainer id='Inicio"'>
      <img
        class="rounded-full w-40 h-40 mb-10 bg-indigo-500 shadow-lg hover:shadow-blue-700 cursor-pointer transition-all duration-200 ease-in-out"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrfPPRXXZNIfaEz0so9d9iKVE8ndyoS7-YbZOxegYZ3A&s"
        alt="Logo foto"
      />

      <h1 class=" text-3xl md:text-4xl xl:text-5xl flex flex-row gap-x-4 pb-6 lg:pb-5">
        Hola,<span class="text-blue-800 font-bold">Soy Brayan</span>
        <a
          href="https://www.linkedin.com/in/brayan-mejia22/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para Trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-xl opacity-80 text-wrap text-justify max-w-[700px]">
        <strong class="text-blue-950">
          Tecnólogo en Desarrollo de Sistemas Informatico
        </strong>
        de Bucaramanga, Colombia. Amante al Desarrollo de Aplicaciones Web.
      </h2>

      <ul>
        <li class="flex mt-8 text-center items-center justify-center gap-5">
          <SocialIcon url="https://www.linkedin.com/in/brayan-mejia22/">
            <Linkedin />
            LinkedIn
          </SocialIcon>

          <SocialIcon url="https://github.com/BrayanMejia2004">
            <GitHub />
            GitHub
          </SocialIcon>

          <SocialIcon url="mailto:elyesid22@gmail.com">
            <Email />
            Contactame
          </SocialIcon>
        </li>
      </ul>
    </SectionContainer>

    <SectionContainer id="Experiencia" class="my-40">
      <h2
        class="ml-10 text-2xl font-semibold flex gap-x-2 items-center text-blue-900"
      >
        <ExperienceIcon class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="Proyectos" class="my-40">
      <h2
        class="ml-10 text-2xl font-semibold flex gap-x-2 items-center text-blue-900">
        <ProjectIcon class="size-7" />
        Proyectos
      </h2>      
    </SectionContainer>
  </main>
</Layout>
