<heade class="flex justify-between items-center py-10 w-[1120px] mx-auto">
    <span />
  <nav class="flex flex-row gap-x-10 opacity-80 text-base">
    <a href="#top" class="font-semibold text-orange-600 hover:text-blue-950 hover:font-bold transition-all">Inicio</a>
    <a href="#experiencia" class="hover:text-blue-950 hover:font-bold transition-all">Experiencia</a>
    <a href="#proyectos" class="hover:text-blue-950 hover:font-bold transition-all">Proyectos</a>
    <a href="#sobreMi" class="hover:text-blue-950 hover:font-bold transition-all">Sobre Mi</a>
    <a href="#contacto" class="hover:text-blue-950 hover:font-bold transition-all">Contact</a>
  </nav>
</heade>
