---
<<<<<<< HEAD
=======

>>>>>>> 7fec92018a9954effcb5c6bac196c33128b4b5a9
const navItems = [
  {
    title: "Inicio",
    label: "Inicio",
<<<<<<< HEAD
    url: "/",
=======
    url: "/#Inicio",
>>>>>>> 7fec92018a9954effcb5c6bac196c33128b4b5a9
  },
  {
    title: "Experiencia",
    label: "Experiencia",
    url: "/#Experiencia",
  },
  {
    title: "Proyectos",
    label: "Proyectos",
    url: "/#Proyectos",
  },
  {
    title: "Sobre Mi",
    label: "Sobre Mi",
    url: "/#SobreMi",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "mailto:miduga@gmail.com",
  }
]
---

<header
  class="fixed z-10 flex justify-between items-center py-10 w-full lg:w-[1120px] mx-auto"
>

<span></span>
  <nav
    class="flex flex-row gap-x-5 text-center lg:gap-x-10 opacity-80 ml-20"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition text-blue-950 font-semibold hover:text-orange-600 hover:font-semibold hover:underline"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }    
  </nav>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
<<<<<<< HEAD
    padding-left: 10px;
    padding-right: 10px;
=======
>>>>>>> 7fec92018a9954effcb5c6bac196c33128b4b5a9
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur bg-blue-800/10 ring-white/10 rounded-2xl;
    }
  }
</style>