<heade class="flex justify-between items-center py-10 w-full lg:w-[1120px] mx-auto">
    <span />
  <nav class="flex flex-row gap-x-5 px-8 pb-5 text-center lg:gap-x-10 opacity-80">
    <a href="#Inicio" class="font-bold text-orange-600 hover:text-blue-950 hover:font-bold transition-all">Inicio</a>
    <a href="#Experiencia" class="hover:text-blue-950 hover:font-bold transition-all">Experiencia</a>
    <a href="#Proyectos" class="hover:text-blue-950 hover:font-bold transition-all">Proyectos</a>
    <a href="#SobreMi" class="hover:text-blue-950 hover:font-bold transition-all">Sobre Mi</a>
    <a href="mailto:elyesid22@gmail.com" class="hover:text-blue-950 hover:font-bold transition-all">Contacto</a>
  </nav>
</heade>