<heade class="flex justify-between items-center py-10 w-[1120px] mx-auto">
    <span />
  <nav class="flex flex-row gap-x-10 opacity-80 text-base">
    <a href="/" class="font-semibold text-orange-600 hover:text-blue-950 hover:font-bold">Inicio</a>
    <a href="/experiencia" class="hover:text-blue-950 hover:font-bold">Experiencia</a>
    <a href="/proyectos" class="hover:text-blue-950 hover:font-bold">Proyectos</a>
    <a href="/sobreMi" class="hover:text-blue-950 hover:font-bold">Sobre Mi</a>
    <a href="/contacto" class="hover:text-blue-950 hover:font-bold">Contact</a>
  </nav>
</heade>
