---
const añoActual = new Date().getFullYear();
const añoNacimiento = 2004;
const edad = añoActual - añoNacimiento;

const Name = "Brayan Yesid Mejia Ortega"
---

<article class="bg-blue-100 p-5 rounded-xl lg:flex gap-x-4">
    <img src="" alt={Name}>
  <p>Me llamo Brayan, tengo {edad} años</p>  
</article>
