---
interface Props {
  url: string;
}

const { url } = Astro.props;
---

<a href={url} target="_blank" class="rounded-full flex justify-center
items-center gap-x-2 px-1 hover:scale-105 transition">
  <slot />
</a>
